In [9]:
import pandas as pd
import numpy as np

In [2]:
bitcoin = pd.read_csv("../data/bitcoin_daily.csv")

In [5]:
bitcoin_tweets = pd.read_csv("../data/bitcoin_daily_tweets.csv")

In [7]:
bitcoin['Change'] = bitcoin["Close"] - bitcoin["Open"]

In [10]:
bitcoin['Increase'] = np.where(bitcoin['Change'] >= 0, 1, 0)

In [15]:
bitcoin['Change_Day_Before'] = bitcoin["Change"].shift(1)
bitcoin['Increase_Day_Before'] = bitcoin["Increase"].shift(1)

In [20]:
bitcoin_tweets.head()

,date,cashtags,compound,likes_count,neg,neu,pos,replies_count,retweets_count
0,2013-02-26,1,0.2382,32,0.000,0.902,0.098,2,110
1,2013-04-14,3,0.0000,183,0.000,1.000,0.000,45,461
2,2013-06-04,1,0.4215,27,0.000,0.823,0.177,8,66
3,2013-06-30,1,0.6166,62,0.000,0.808,0.192,0,200
4,2013-08-11,1,-0.0772,17,0.071,0.929,0.000,2,125

In [21]:
bitcoin_data = bitcoin.merge(bitcoin_tweets, left_on="Date", right_on="date", how="left")

In [23]:
bitcoin_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change,Increase,Change_Day_Before,Increase_Day_Before,date,cashtags,compound,likes_count,neg,neu,pos,replies_count,retweets_count
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,-8.529999,0,NaN,NaN,2014-09-17,6.0,0.096750,190.0,0.152667,0.69450,0.152833,29.0,291.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,-32.419983,0,-8.529999,0.0,2014-09-18,4.0,-0.143575,98.0,0.157000,0.70225,0.140750,7.0,126.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,-29.307007,0,-32.419983,0.0,2014-09-19,1.0,0.000000,25.0,0.000000,1.00000,0.000000,0.0,23.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,14.230988,1,-29.307007,0.0,2014-09-20,2.0,0.000000,29.0,0.000000,1.00000,0.000000,3.0,120.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,-9.263977,0,14.230988,1.0,2014-09-21,1.0,0.296000,27.0,0.000000,0.84500,0.155000,0.0,24.0

In [24]:
bitcoin_data['tweets_day_before'] = bitcoin_data['cashtags'].shift(1)
bitcoin_data['sentiment_day_before'] = bitcoin_data['compound'].shift(1)

In [26]:
bitcoin_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change,Increase,Change_Day_Before,...,cashtags,compound,likes_count,neg,neu,pos,replies_count,retweets_count,tweets_day_before,sentiment_day_before
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,-8.529999,0,NaN,...,6.0,0.096750,190.0,0.152667,0.69450,0.152833,29.0,291.0,NaN,NaN
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,-32.419983,0,-8.529999,...,4.0,-0.143575,98.0,0.157000,0.70225,0.140750,7.0,126.0,6.0,0.096750
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,-29.307007,0,-32.419983,...,1.0,0.000000,25.0,0.000000,1.00000,0.000000,0.0,23.0,4.0,-0.143575
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,14.230988,1,-29.307007,...,2.0,0.000000,29.0,0.000000,1.00000,0.000000,3.0,120.0,1.0,0.000000
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,-9.263977,0,14.230988,...,1.0,0.296000,27.0,0.000000,0.84500,0.155000,0.0,24.0,2.0,0.000000