In [73]:
import pandas as pd
import numpy as np

In [74]:
dogecoin = pd.read_csv("../data/doge_daily_modified.csv")

In [75]:
dogecoin.tail(20)

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,PROC_3,PROC_5,PROC_10,wpr,sto_os
2383,2383,2021-03-27,0.0539,0.0554,0.0535,0.0544,0.0544,"753,844,053",0.0005,1,0.000162,0.052224,-0.010909,-0.057192,-72.727273,27.272727
2384,2384,2021-03-28,0.0544,0.0548,0.0530,0.0537,0.0537,"460,472,974",-0.0007,0,0.000059,0.044747,0.001866,-0.064460,-69.736842,30.263158
2385,2385,2021-03-29,0.0537,0.0547,0.0532,0.0541,0.0541,"537,919,139",0.0004,1,0.000010,0.001852,0.046422,-0.072041,-64.473684,35.526316
2386,2386,2021-03-30,0.0541,0.0554,0.0537,0.0539,0.0539,"728,906,171",-0.0002,0,-0.000044,-0.009191,0.048638,-0.086441,-67.105263,32.894737
2387,2387,2021-03-31,0.0539,0.0545,0.0523,0.0537,0.0537,"653,389,282",-0.0002,0,-0.000102,0.000000,-0.005556,-0.061189,-69.736842,30.263158
2388,2388,2021-04-01,0.0537,0.0701,0.0536,0.0620,0.0620,"5,816,046,821",0.0083,1,0.000515,0.146026,0.139706,0.127273,39.473684,139.473684
2389,2389,2021-04-02,0.0620,0.0622,0.0573,0.0577,0.0577,"2,166,925,111",-0.0043,0,0.000650,0.070501,0.074488,0.076493,-40.566038,59.433962
2390,2390,2021-04-03,0.0577,0.0595,0.0558,0.0558,0.0558,"1,136,931,402",-0.0019,0,0.000597,0.039106,0.031423,0.079304,-58.490566,41.509434
2391,2391,2021-04-04,0.0558,0.0581,0.0553,0.0574,0.0574,"938,035,097",0.0016,1,0.000676,-0.074194,0.064935,0.116732,-43.396226,56.603774
2392,2392,2021-04-05,0.0574,0.0602,0.0564,0.0597,0.0597,"1,513,832,720",0.0023,1,0.000914,0.034662,0.111732,0.105556,-21.698113,78.301887
2393,2393,2021-04-06,0.0597,0.0650,0.0581,0.0645,0.0645,"2,608,613,911",0.0048,1,0.001473,0.155914,0.040323,0.185662,23.584906,123.584906
2394,2394,2021-04-07,0.0645,0.0673,0.0576,0.0590,0.0590,"2,857,060,848",-0.0055,0,0.001455,0.027875,0.022530,0.098696,-41.984733,58.015267
2395,2395,2021-04-08,0.0590,0.0617,0.0588,0.0615,0.0615,"1,055,257,541",0.0025,1,0.001624,0.030151,0.102151,0.136784,-22.900763,77.099237
2396,2396,2021-04-09,0.0615,0.0639,0.0603,0.0617,0.0617,"1,060,465,773",0.0002,1,0.001754,-0.043411,0.074913,0.144712,-25.925926,74.074074
2397,2397,2021-04-10,0.0616,0.0651,0.0608,0.0638,0.0638,"1,369,793,117",0.0022,1,0.002003,0.081356,0.068677,0.188082,-6.481481,93.518519
2398,2398,2021-04-11,0.0637,0.0792,0.0632,0.0746,0.0746,"6,646,627,317",0.0109,1,0.003037,0.213008,0.156589,0.203226,93.518519,193.518519
2399,2399,2021-04-12,0.0745,0.0750,0.0689,0.0708,0.0708,"2,687,720,380",-0.0037,0,0.003510,0.147488,0.200000,0.227036,-18.181818,81.818182
2400,2400,2021-04-13,0.0707,0.0952,0.0707,0.0934,0.0934,"7,176,815,089",0.0227,1,0.005643,0.463950,0.518699,0.673835,89.952153,189.952153
2401,2401,2021-04-14,0.0943,0.1425,0.0925,0.1215,0.1215,"20,977,679,327",0.0272,1,0.009491,0.628686,0.969206,1.116725,70.780856,170.780856
2402,2402,2021-04-15,0.1212,0.1873,0.1207,0.1822,0.1822,"17,916,620,386",0.0610,1,0.017240,1.573446,1.855799,2.051926,92.389650,192.389650

In [76]:
dogecoin = dogecoin.drop(columns=['Unnamed: 0'])
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,PROC_3,PROC_5,PROC_10,wpr,sto_os
0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,"1,463,600",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,"2,215,910",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,"883,563",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-09-20,0.0003,0.0003,0.0003,0.0003,0.0003,"993,004",0.0,0,NaN,0.0,NaN,NaN,NaN,NaN
4,2014-09-21,0.0003,0.0003,0.0003,0.0003,0.0003,"539,140",0.0,0,NaN,0.0,NaN,NaN,NaN,NaN

In [77]:
# Create a daily change percent
dogecoin['Daily_Change_Perc'] = dogecoin["Daily_Change"] / dogecoin["Open"]

In [78]:
# Weekly change
dogecoin['Weekly_Change'] = dogecoin['Close'] - dogecoin['Open'].shift(7)
dogecoin['Weekly_Change_Perc'] = dogecoin['Weekly_Change'] / dogecoin['Open'].shift(7)

In [79]:
delta = dogecoin['Close'].diff()
up = delta.clip(lower=0)
down = -1*delta.clip(upper=0)
ema_up = up.ewm(com=13, adjust=False).mean()
ema_down = down.ewm(com=13, adjust=False).mean()
rs = ema_up/ema_down
dogecoin['RSI'] = 100 - (100/(1 + rs))

In [80]:
def get_streak(df):
    streak = 0
    for row in df.itertuples():
        ind = df.loc[row.Index, 'Daily_Change_Ind']
        if ind == 0 and streak > 0:
            streak = 0
        if ind == 1 and streak < 0:
            streak = 0
        streak += 1 if ind == 1 else -1
        df.loc[row.Index, 'streak'] = streak

In [81]:
get_streak(dogecoin)

In [82]:
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,PROC_3,PROC_5,PROC_10,wpr,sto_os,Daily_Change_Perc,Weekly_Change,Weekly_Change_Perc,RSI,streak
0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,"1,463,600",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,-1.0
1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,"2,215,910",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,-2.0
2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,"883,563",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,-3.0
3,2014-09-20,0.0003,0.0003,0.0003,0.0003,0.0003,"993,004",0.0,0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,-4.0
4,2014-09-21,0.0003,0.0003,0.0003,0.0003,0.0003,"539,140",0.0,0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,-5.0

In [83]:
dogecoin.dtypes

Date                   object
Open                  float64
High                  float64
Low                   float64
Close                 float64
Adj Close**           float64
Volume                 object
Daily_Change          float64
Daily_Change_Ind        int64
MACD                  float64
PROC_3                float64
PROC_5                float64
PROC_10               float64
wpr                   float64
sto_os                float64
Daily_Change_Perc     float64
Weekly_Change         float64
Weekly_Change_Perc    float64
RSI                   float64
streak                float64
dtype: object

In [84]:
# Re-add gold
gold = pd.read_csv("gold_filtered.csv")

In [85]:
gold.drop(inplace=True, columns=["Unnamed: 0"])

In [86]:
gold.head()

,Date,Close/Last,Open,Daily_Change,Daily_Change_Perc,Increased,RSI
0,2014-09-17,1235.9,1235.3,0.6,0.000486,1,NaN
1,2014-09-18,1226.9,1223.1,3.8,0.003107,1,0.000000
2,2014-09-19,1216.6,1225.6,-9.0,-0.007343,0,0.000000
3,2014-09-22,1217.9,1216.4,1.5,0.001233,1,1.087801
4,2014-09-23,1222.0,1214.9,7.1,0.005844,1,4.612063

In [87]:
# Merge Gold Columns Back in
dogecoin = dogecoin.merge(gold, on="Date", suffixes=("", "_Gold"))

In [88]:
# Re-add sp500
sp500 = pd.read_csv("sp500_filtered.csv")
sp500.drop(inplace=True, columns=["Unnamed: 0"])

In [89]:
dogecoin = dogecoin.merge(sp500, on="Date", suffixes=("", "_SP500"))

In [90]:
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,...,Daily_Change_Gold,Daily_Change_Perc_Gold,Increased,RSI_Gold,Close/Last_SP500,Open_SP500,Daily_Change_SP500,Daily_Change_Perc_SP500,Increased_SP500,RSI_SP500
0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,"1,463,600",0.0,0,NaN,...,0.6,0.000486,1,NaN,2001.57,1999.30,2.27,0.001135,1,57.298361
1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,"2,215,910",0.0,0,NaN,...,3.8,0.003107,1,0.000000,2011.36,2003.07,8.29,0.004139,1,60.173911
2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,"883,563",0.0,0,NaN,...,-9.0,-0.007343,0,0.000000,2010.40,2012.74,-2.34,-0.001163,0,59.991084
3,2014-09-22,0.0003,0.0003,0.0003,0.0003,0.0003,"620,222",0.0,0,NaN,...,1.5,0.001233,1,1.087801,1994.29,2009.08,-14.79,-0.007362,0,56.908592
4,2014-09-23,0.0003,0.0003,0.0003,0.0003,0.0003,"739,197",0.0,0,NaN,...,7.1,0.005844,1,4.612063,1982.77,1992.78,-10.01,-0.005023,0,54.585243

In [91]:
dogecoin = dogecoin.rename(columns={'Close/Last': 'Close/Last_Gold', 'Increased': "Increased_Gold"})

In [92]:
# set y label
dogecoin["label"] = dogecoin["Daily_Change_Ind"].shift(-1)
dogecoin.head(10)

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,...,Daily_Change_Perc_Gold,Increased_Gold,RSI_Gold,Close/Last_SP500,Open_SP500,Daily_Change_SP500,Daily_Change_Perc_SP500,Increased_SP500,RSI_SP500,label
0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,"1,463,600",0.0000,0,NaN,...,0.000486,1,NaN,2001.57,1999.30,2.27,0.001135,1,57.298361,0.0
1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,"2,215,910",0.0000,0,NaN,...,0.003107,1,0.000000,2011.36,2003.07,8.29,0.004139,1,60.173911,0.0
2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,"883,563",0.0000,0,NaN,...,-0.007343,0,0.000000,2010.40,2012.74,-2.34,-0.001163,0,59.991084,0.0
3,2014-09-22,0.0003,0.0003,0.0003,0.0003,0.0003,"620,222",0.0000,0,NaN,...,0.001233,1,1.087801,1994.29,2009.08,-14.79,-0.007362,0,56.908592,0.0
4,2014-09-23,0.0003,0.0003,0.0003,0.0003,0.0003,"739,197",0.0000,0,NaN,...,0.005844,1,4.612063,1982.77,1992.78,-10.01,-0.005023,0,54.585243,0.0
5,2014-09-24,0.0003,0.0004,0.0003,0.0003,0.0003,"1,277,840",0.0000,0,NaN,...,-0.003025,0,4.506621,1998.30,1983.34,14.96,0.007543,1,58.536008,1.0
6,2014-09-25,0.0003,0.0004,0.0003,0.0004,0.0004,"2,393,610",0.0001,1,NaN,...,0.003779,1,6.711571,1965.99,1997.32,-31.33,-0.015686,0,51.795831,1.0
7,2014-09-26,0.0004,0.0005,0.0004,0.0005,0.0005,"4,722,610",0.0001,1,NaN,...,-0.005482,0,6.288093,1982.85,1966.22,16.63,0.008458,1,56.224372,0.0
8,2014-09-29,0.0004,0.0004,0.0004,0.0004,0.0004,"1,169,070",0.0000,0,NaN,...,-0.000246,0,9.504594,1977.80,1978.96,-1.16,-0.000586,0,55.158022,0.0
9,2014-09-30,0.0004,0.0004,0.0004,0.0004,0.0004,"760,341",0.0000,0,NaN,...,-0.003373,0,8.814623,1972.29,1978.21,-5.92,-0.002993,0,54.023323,0.0

In [93]:
tweets = pd.read_csv('../data/dogecoin_daily_tweets.csv')

In [94]:
tweets.head()

,date,count,compound,compound_times_retweets,likes_count,neg,neg_times_retweets,neu,pos,pos_times_retweets,...,likes_count_weekly_diff,compound_weighted_avg7,compound_weighted_daily_diff,compound_weighted_weekly_diff,pos_weighted_avg7,pos_weighted_daily_diff,pos_weighted_weekly_diff,neg_weighted_avg7,neg_weighted_daily_diff,neg_weighted_weekly_diff
0,2014-02-15,2,-0.2960,-15.3920,46,0.121,6.292,0.879,0.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-04-17,1,0.0000,0.0000,11,0.000,0.000,1.000,0.000,0.000,...,NaN,NaN,0.2960,NaN,NaN,0.000,NaN,NaN,-0.121,NaN
2,2014-04-26,2,0.0000,0.0000,50,0.000,0.000,1.000,0.000,0.000,...,NaN,NaN,0.0000,NaN,NaN,0.000,NaN,NaN,0.000,NaN
3,2014-04-27,1,0.0000,0.0000,20,0.000,0.000,1.000,0.000,0.000,...,NaN,NaN,0.0000,NaN,NaN,0.000,NaN,NaN,0.000,NaN
4,2014-04-29,2,0.4574,25.6144,60,0.000,0.000,0.834,0.166,9.296,...,NaN,NaN,0.4574,NaN,NaN,0.166,NaN,NaN,0.000,NaN

In [95]:
tweets = tweets.fillna(0)
tweets = tweets.rename(columns={'date': 'Date'})

In [96]:
dogecoin = pd.merge(dogecoin, tweets, on="Date", how='left', suffixes=("", ""))

In [97]:
for (columnName, columnData) in dogecoin.iteritems():
    print('Column Name : ', columnName)
    print('Any NAs : ', columnData.isnull().any())
    try:
        print('Any INFs:', np.isinf(columnData).any())
    except:
        print("Couldn't check")

Column Name :  Date
Any NAs :  False
Couldn't check
Column Name :  Open
Any NAs :  False
Any INFs: False
Column Name :  High
Any NAs :  False
Any INFs: False
Column Name :  Low
Any NAs :  False
Any INFs: False
Column Name :  Close
Any NAs :  False
Any INFs: False
Column Name :  Adj Close**
Any NAs :  False
Any INFs: False
Column Name :  Volume
Any NAs :  False
Couldn't check
Column Name :  Daily_Change
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_Ind
Any NAs :  False
Any INFs: False
Column Name :  MACD
Any NAs :  True
Any INFs: False
Column Name :  PROC_3
Any NAs :  True
Any INFs: False
Column Name :  PROC_5
Any NAs :  True
Any INFs: False
Column Name :  PROC_10
Any NAs :  True
Any INFs: False
Column Name :  wpr
Any NAs :  True
Any INFs: False
Column Name :  sto_os
Any NAs :  True
Any INFs: False
Column Name :  Daily_Change_Perc
Any NAs :  False
Any INFs: False
Column Name :  Weekly_Change
Any NAs :  True
Any INFs: False
Column Name :  Weekly_Change_Perc
Any NAs :  True
Any INFs: False
Column Name :  RSI
Any NAs :  True
Any INFs: False
Column Name :  streak
Any NAs :  False
Any INFs: False
Column Name :  Close/Last_Gold
Any NAs :  False
Any INFs: False
Column Name :  Open_Gold
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_Gold
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_Perc_Gold
Any NAs :  False
Any INFs: False
Column Name :  Increased_Gold
Any NAs :  False
Any INFs: False
Column Name :  RSI_Gold
Any NAs :  True
Any INFs: False
Column Name :  Close/Last_SP500
Any NAs :  False
Any INFs: False
Column Name :  Open_SP500
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_SP500
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_Perc_SP500
Any NAs :  False
Any INFs: True
Column Name :  Increased_SP500
Any NAs :  False
Any INFs: False
Column Name :  RSI_SP500
Any NAs :  False
Any INFs: False
Column Name :  label
Any NAs :  True
Any INFs: False
Column Name :  count
Any NAs :  True
Any INFs: False
Column Name :  compound
Any NAs :  True
Any INFs: False
Column Name :  compound_times_retweets
Any NAs :  True
Any INFs: False
Column Name :  likes_count
Any NAs :  True
Any INFs: False
Column Name :  neg
Any NAs :  True
Any INFs: False
Column Name :  neg_times_retweets
Any NAs :  True
Any INFs: False
Column Name :  neu
Any NAs :  True
Any INFs: False
Column Name :  pos
Any NAs :  True
Any INFs: False
Column Name :  pos_times_retweets
Any NAs :  True
Any INFs: False
Column Name :  replies_count
Any NAs :  True
Any INFs: False
Column Name :  retweets_count
Any NAs :  True
Any INFs: False
Column Name :  pos_weighted
Any NAs :  True
Any INFs: False
Column Name :  neg_weighted
Any NAs :  True
Any INFs: False
Column Name :  compound_weighted
Any NAs :  True
Any INFs: False
Column Name :  count_avg7
Any NAs :  True
Any INFs: False
Column Name :  count_daily_diff
Any NAs :  True
Any INFs: False
Column Name :  count_weekly_diff
Any NAs :  True
Any INFs: False
Column Name :  replies_count_avg7
Any NAs :  True
Any INFs: False
Column Name :  replies_count_daily_diff
Any NAs :  True
Any INFs: False
Column Name :  replies_count_weekly_diff
Any NAs :  True
Any INFs: False
Column Name :  retweets_count_avg7
Any NAs :  True
Any INFs: False
Column Name :  retweets_count_daily_diff
Any NAs :  True
Any INFs: False
Column Name :  retweets_count_weekly_diff
Any NAs :  True
Any INFs: False
Column Name :  likes_count_avg7
Any NAs :  True
Any INFs: False
Column Name :  likes_count_daily_diff
Any NAs :  True
Any INFs: False
Column Name :  likes_count_weekly_diff
Any NAs :  True
Any INFs: False
Column Name :  compound_weighted_avg7
Any NAs :  True
Any INFs: False
Column Name :  compound_weighted_daily_diff
Any NAs :  True
Any INFs: False
Column Name :  compound_weighted_weekly_diff
Any NAs :  True
Any INFs: False
Column Name :  pos_weighted_avg7
Any NAs :  True
Any INFs: False
Column Name :  pos_weighted_daily_diff
Any NAs :  True
Any INFs: False
Column Name :  pos_weighted_weekly_diff
Any NAs :  True
Any INFs: False
Column Name :  neg_weighted_avg7
Any NAs :  True
Any INFs: False
Column Name :  neg_weighted_daily_diff
Any NAs :  True
Any INFs: False
Column Name :  neg_weighted_weekly_diff
Any NAs :  True
Any INFs: False

In [98]:
dogecoin['neg_weighted_weekly_diff'] = dogecoin['neg_weighted_weekly_diff'].fillna(0)
dogecoin['neg_weighted_daily_diff'] = dogecoin['neg_weighted_daily_diff'].fillna(0)
dogecoin['neg_weighted_avg7'] = dogecoin['neg_weighted_avg7'].fillna(0)
dogecoin['pos_weighted_weekly_diff'] = dogecoin['pos_weighted_weekly_diff'].fillna(0)
dogecoin['pos_weighted_daily_diff'] = dogecoin['pos_weighted_daily_diff'].fillna(0)
dogecoin['pos_weighted_avg7'] = dogecoin['pos_weighted_avg7'].fillna(0)
dogecoin['likes_count_weekly_diff'] = dogecoin['likes_count_weekly_diff'].fillna(0)
dogecoin['likes_count_daily_diff'] = dogecoin['likes_count_daily_diff'].fillna(0)
dogecoin['likes_count_avg7'] = dogecoin['likes_count_avg7'].fillna(0)
dogecoin['compound_weighted_weekly_diff'] = dogecoin['compound_weighted_weekly_diff'].fillna(0)
dogecoin['compound_weighted_daily_diff'] = dogecoin['compound_weighted_daily_diff'].fillna(0)
dogecoin['compound_weighted_avg7'] = dogecoin['compound_weighted_avg7'].fillna(0)
dogecoin['retweets_count_weekly_diff'] = dogecoin['retweets_count_weekly_diff'].fillna(0)
dogecoin['retweets_count_daily_diff'] = dogecoin['retweets_count_daily_diff'].fillna(0)
dogecoin['retweets_count_avg7'] = dogecoin['retweets_count_avg7'].fillna(0)
dogecoin['replies_count_weekly_diff'] = dogecoin['replies_count_weekly_diff'].fillna(0)
dogecoin['replies_count_daily_diff'] = dogecoin['replies_count_daily_diff'].fillna(0)
dogecoin['replies_count_avg7'] = dogecoin['replies_count_avg7'].fillna(0)
dogecoin['count_weekly_diff'] = dogecoin['count_weekly_diff'].fillna(0)
dogecoin['count_daily_diff'] = dogecoin['count_daily_diff'].fillna(0)
dogecoin['count_avg7'] = dogecoin['count_avg7'].fillna(0)
dogecoin['compound'] = dogecoin['compound'].fillna(0)
dogecoin['retweets_count'] = dogecoin['retweets_count'].fillna(0)
dogecoin['likes_count'] = dogecoin['likes_count'].fillna(0)
dogecoin['replies_count'] = dogecoin['replies_count'].fillna(0)
dogecoin['neg'] = dogecoin['neg'].fillna(0)
dogecoin['pos'] = dogecoin['pos'].fillna(0)
dogecoin['neu'] = dogecoin['neu'].fillna(0)
dogecoin['compound_times_retweets'] = dogecoin['compound_times_retweets'].fillna(0)
dogecoin['pos_times_retweets'] = dogecoin['pos_times_retweets'].fillna(0)
dogecoin['neg_times_retweets'] = dogecoin['neg_times_retweets'].fillna(0)
dogecoin['neg_weighted'] = dogecoin['neg_weighted'].fillna(0)
dogecoin['pos_weighted'] = dogecoin['pos_weighted'].fillna(0)
dogecoin['compound_weighted'] = dogecoin['compound_weighted'].fillna(0)
dogecoin['count'] = dogecoin['count'].fillna(0)

In [99]:
dogecoin['label'].isnull().sum()

1

In [100]:
print(len(dogecoin))
dogecoin = dogecoin.dropna()
print(len(dogecoin))

1667
1648

In [101]:
np.isinf(dogecoin['Daily_Change_Perc_SP500']).sum()

11

In [102]:
#Dump the inf
dogecoin = dogecoin[np.isinf(dogecoin['Daily_Change_Perc_SP500']) == False]

In [103]:
trends = pd.read_csv("../data/dogecoin_google_trends.csv")

In [104]:
trends = trends.drop(columns=['isPartial']).rename(columns={'dogecoin': 'goog_trend_score', 'date': 'Date'})
trends.head()

         Date  goog_trend_score
0  2014-01-01                26
1  2014-01-02                27
2  2014-01-03                30
3  2014-01-04                22
4  2014-01-05                25

In [105]:
dogecoin = dogecoin.merge(trends, on='Date')

In [106]:
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,...,compound_weighted_avg7,compound_weighted_daily_diff,compound_weighted_weekly_diff,pos_weighted_avg7,pos_weighted_daily_diff,pos_weighted_weekly_diff,neg_weighted_avg7,neg_weighted_daily_diff,neg_weighted_weekly_diff,goog_trend_score
0,2014-10-13,0.0003,0.0003,0.0003,0.0003,0.0003,"412,929",0.0,0,-0.000020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53
1,2014-10-14,0.0003,0.0003,0.0003,0.0003,0.0003,"543,227",0.0,0,-0.000019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65
2,2014-10-15,0.0003,0.0003,0.0003,0.0003,0.0003,"815,956",0.0,0,-0.000018,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67
3,2014-10-16,0.0003,0.0003,0.0003,0.0003,0.0003,"365,533",0.0,0,-0.000017,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48
4,2014-10-17,0.0003,0.0003,0.0002,0.0003,0.0003,"330,041",0.0,0,-0.000016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65

In [107]:
# Train - Test Split
from sklearn.model_selection import train_test_split
random_state = 12345

train_set, test_set = train_test_split(dogecoin, test_size=0.2, random_state=random_state)

In [108]:
len(train_set)

1309

In [109]:
len(test_set)

328

In [110]:
train_set.to_csv("../models/dogecoin_train.csv")
test_set.to_csv("../models/dogecoin_test.csv")